#Fri Sep 26 19:27:02 CEST 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*;.*PerformanceTest.*
pluginbuilder.eclipse.url=http\://download.eclipse.org/eclipse/downloads/drops/R-3.4.1-200809111700/eclipse-SDK-3.4.1-linux-gtk-x86_64.tar.gz
pluginbuilder.feature.urls=http\://download.eclipse.org/eclipse/downloads/drops/R-3.4.1-200809111700/eclipse-3.4.1-delta-pack.zip
pluginbuilder.features=org.rssowl,org.rssowl.contrib.nntp,org.rssowl.tests
pluginbuilder.server.user=rssowl
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=true
pluginbuilder.svn.url=https\://rssowl.svn.sourceforge.net/svnroot/rssowl/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=true
